:root {
  --secondary-color: #f9f7fe;
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins, sans-serif";
}
body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  text-align: center;
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 42px;  
}

h4 {
  font-size: 26px;
}

.container {
  margin: 10px 10px;
}

ul {
  display: block;
}

nav {
  padding: 5px 0px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a:hover, nav li.active a {
  color: var(--branding-color);
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

.justify-content-between {
  justify-content: space-between!important;
}
.d-flex {
  display: flex! important;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.logo {
  max-height: 40px;
}

img {
  vertical-align: middle;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 2;
  font-size: 28px;
}

.hero p {
  font-size: 38px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.text-center {
  text-align: center !important;
}
.m-5 {
  margin-bottom: 3rem !important;
  font-size: 17px;
  font-weight:bold;
  text-align: center;
}

.btn-branding {
  background: #6c63ff;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn {
  display: inline-block;
  background: #6c63ff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid blue;
}

.btn:hover {
  background: #6c63ff;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 5px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
 background: transparent;
}


.text-muted {
  color: #6c757d !important;
}

.project-description {
  padding: 35px 42px;
}

@media (max-width: 900px) {
  .btn-branding-outline {
    vertical-align: center;
  }
}

footer .contact-box {
  padding: 30px;
}

